<button (click)="opened = !opened">Toggle drawer</button>
<mat-drawer-container class="example-container">

  <mat-drawer mode="side" [(opened)]="opened">
    <button (click)="auth.login()" *ngIf="!auth.loggedIn">Log In</button>
    <button (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</button>
    <a routerLink="/">Home</a>&nbsp;
    <a routerLink="profile" *ngIf="auth.loggedIn">Profile</a>&nbsp;
    <a routerLink="weather">Weather</a>&nbsp;
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>