<div>
  <mat-grid-list cols="12" rowHeight="12rem">
    <mat-grid-tile colspan="3">
      <mat-card>
        <mat-card-title>
          {{accounts[0].bankID}}
        </mat-card-title>
        <mat-card-content>
          <p>
            {{accounts[0].name}}
            {{accounts[0].balance}}
          </p>
          {{accounts[1].name}}
          {{accounts[1].balance}}
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="3">
      <mat-card>
        <mat-card-title>
          {{accounts[2].bankID}}
        </mat-card-title>
        <mat-card-content>
          {{accounts[2].name}}
          {{accounts[2].balance}}
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <pre>
    <code>{{ accounts | json }}</code>
  </pre>
</div>