<mat-grid-list cols="4" rowHeight="240px" guttersize="23px">

    <mat-grid-tile colspan="4" *ngIf="!banks">
        <mat-spinner></mat-spinner>
    </mat-grid-tile>

    <mat-grid-tile *ngFor="let bank of banks">
        <mat-card>
            <ng-container class="fullWidth">
                <mat-card-title class="leftAlign">
                    {{ bank.name }}
                </mat-card-title>
                <span *ngIf="!editing" class="rightAlign">
                    <mat-icon class="pointer" (click)="editBank()">edit</mat-icon>
                </span>
                <span *ngIf="editing" class="rightAlign">
                    <mat-icon class="pointer">delete_forever</mat-icon>
                    <mat-icon class="pointer">save_alt</mat-icon>
                </span>
            </ng-container>

            <mat-card-subtitle>
                <span>
                    Total: {{ bank.total }}
                </span>
            </mat-card-subtitle>
            <mat-card-content>
                <p *ngFor="let account of bank.accounts" class="fullWidth">
                    <span class="leftAlign">
                        {{account.name}} 
                    </span>
                    <span class="rightAlign">
                        {{account.balance}}
                    </span>
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile *ngIf="banks">
        <button mat-fab ripple color="primary" (click)="addBank()">
      <mat-icon aria-hidden="false">add</mat-icon>
    </button>
    </mat-grid-tile>
    <!-- <mat-grid-tile colspan="3">
    <pre>
      <code>{{ banks | json }}</code>
    </pre>
  </mat-grid-tile> -->
</mat-grid-list>