<mat-card>
    <span *ngIf="!editing" class="justify-end">
    <mat-icon class="pointer" (click)="editBank()">edit</mat-icon>
  </span>
    <span *ngIf="editing" class="justify-end">
    <mat-icon class="pointer" (click)="deleteBank()">delete_forever</mat-icon>
    <mat-icon class="pointer" (click)="saveBank()">save_alt</mat-icon>
  </span>
    <mat-card-title> {{ bank.name }} </mat-card-title>

    <mat-card-subtitle>
        <span>
      Total: {{ bank.total }}
    </span>
    </mat-card-subtitle>
    <mat-card-content>
        <p *ngFor="let account of bank.accounts" class="fullWidth">
            <span class="leftAlign">
        {{account.name}}
      </span>
            <span class="rightAlign">
        {{account.balance}}
      </span>
        </p>
    </mat-card-content>
</mat-card>