<mat-card>
  <span *ngIf="!editing" class="justify-end">
    <mat-icon class="pointer" (click)="editBank()">edit</mat-icon>
  </span>
  <span *ngIf="editing" class="justify-end">
    <mat-icon class="pointer" (click)="deleteBank()">delete_forever</mat-icon>
    <mat-icon class="pointer" (click)="saveBank()">save_alt</mat-icon>
  </span>
  <mat-card-title> {{ bank.BankName }} </mat-card-title>

  <mat-card-subtitle>
    Total: ${{ bank.total.toFixed(2) }}
  </mat-card-subtitle>
  <mat-card-content *ngFor="let account of bank.accounts" class="fullWidth">
    <span *ngIf="account.IsFlow">
      {{ account.AccountType }} ${{ account.Balance.toFixed(2) }}
      <mat-icon *ngIf="account.IsFlow" class="pointer">import_export</mat-icon>
      <mat-icon *ngIf="!account.IsFlow" class="pointer">arrow_downward</mat-icon>
    </span>
  </mat-card-content>
</mat-card>