<mat-card>
  <span *ngIf="!editing" class="justify-end">
    <mat-icon class="pointer" (click)="editBank()">edit</mat-icon>
  </span>
  <span *ngIf="editing" class="justify-end">
    <mat-icon class="pointer" (click)="deleteBank()">delete_forever</mat-icon>
    <mat-icon class="pointer" (click)="saveBank()">save_alt</mat-icon>
  </span>
  <mat-card-title> {{ bank.bankName.name }} </mat-card-title>

  <mat-card-subtitle>
    <span>
      Total: ${{ bank.total.toFixed(2) }}
    </span>
  </mat-card-subtitle>
  <mat-card-content>
    <p *ngFor="let account of bank.accounts" class="fullWidth">
      <span class="leftAlign">
        {{ account.accountType }}
      </span>
      <span class="rightAlign">
        ${{ account.balance.toFixed(2) }}
      </span>
      <mat-icon *ngIf="account.isFlow" class="pointer">import_export</mat-icon>
      <mat-icon *ngIf="!account.isFlow" class="pointer">arrow_downward</mat-icon>
    </p>
  </mat-card-content>
</mat-card>